:root {
    --black: #001219ff;
    --blue-sapphire: #005f73ff;
    --floral-white: #fbf8efff;
    --antique-white: #FFEBD6;
    --gamboge: #ee9b00ff;
    --rufous: #ae2012ff;
    --ruby-red: #9b2226ff;
    --cinnabar: #EA4334;
    --cyan-process: #00BBE0; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    color: var(--black);
    background-color: var(--floral-white);
    font: normal normal bold x-large monospace;
    font-size: 26px;
}

h1 {
    color: var(--blue-sapphire);
    text-shadow: 4px 4px var(--rufous);
}

h1, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    min-height: 40px;
    min-width: 120px;
    font: normal normal bold x-large monospace;
    background-color: var(--antique-white);
    border: 2px solid var(--ruby-red);
    border-radius: 15px;
}

button:hover {
    background-color: var(--gamboge);
    border: 3px solid var(--gamboge);
}

.gameContainer {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    gap: 25px;
    justify-content: space-evenly;
    align-content: center;
}

.playerContainer {
    display: grid;
    grid-template-rows: repeat(2, minmax(40px, 80px));
    grid-template-columns: minmax(50px, 150px);
    place-items: center;
}

.boardContainer {
    display: grid;
    gap: 10px;
    grid-template-rows: 1fr minmax(80px, 100px);
    grid-template-columns: minmax(280px, 1fr);
    place-items: center;
}

.gameBoard {
    background-color: var(--black);
    display: grid;
    align-content: center;
    justify-content: center;
    grid-gap: 5px;
    grid-template-columns: repeat(3, minmax(80px, 1fr));
    grid-template-rows: repeat(3, minmax(80px, 1fr));
}

.boardTile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--floral-white);
    font-size: 38px;
    transition: background-color 0.3s ease-in-out;
}

.boardTile:hover {
    background: linear-gradient(to right, var(--cyan-process) 0%, var(--cinnabar) 100%);
}

.buttonsContainer {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, minmax(80px, 1fr));
    align-content: center;
    justify-content: center;
}